<form action="/" method='POST' autocomplete='off'>
	<input class='ask' type='text' name='ask' placeholder='Ask magic 8 ball a question.' autofocus>
	<input class='submit' type='submit' value='ASK'>
</form>