<p class='question'>Q: "<span></span>"<p>
<p class='answer'>A: <span></span><p>
<form autocomplete='off'>
	<input class='ask' type='text' name='ask' placeholder='Ask magic 8 ball a question.' autofocus>
	<input class='submit' type='submit' value='ASK'>
</form>